<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Spring Garden MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Spring Facts Story!</h1>
      </div>
        <p>Spring is one of the @Model.Number seasons. The other three seasons are @Model.Adjective, @Model.Noun, and @Model.Noun2. Spring happens early in the year if you live @Model.Adjective2 of the equator and late in the year if you live @Model.Adjective3 of it. Sprig is a time when baby @Model.Animals and @Model.Animals2 are born. You should carry a @Model.Noun to keep dry, because it tends to @Model.Verb more often in Spring.</p>
    </div>
  </body>
