<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Spring Garden MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Spring Garden Story!</h1>
      </div>
        <p>Planting a vegetable garden is not only fun, it also helps save @Model.Noun. You will need a piece of @Model.Adjective land. You may need a @Model.Noun2 to keep the @Model.Noun3 and @Model.Noun4 out. As soon as @Model.Noun5 is here you can go out there with your @Model.Tool and plant all kinds of @Model.Noun6. Then in a few months, you will have corn on the @Model.Noun7 and big, @Model.Adjective2</p>
    </div>
  </body>
