<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Springtime MadLib!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Springtime Fun!</h1>
      </div>
        <p>Spring is a season with lots of rain and @Model.Color and @Model.Color2. @Model.Adjective @Model.Animals chirp in the trees and many @Model.Adjective2 baby @Model.Animals2 and @Model.Animals3 are born. Before it rains, the sky turns @Model.Color3 and @Model.Noun starts @Model.Verb from the sky. Grab a @Model.Color4 umbrella and a pair of @Model.Adjective3 @Model.Color5 rain boots and @Model.Verb2 in puddles. If you're @Model.Adjective4, you might see a rainbow!</p>
    </div>
  </body>
